<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <title>COVID Venue Tracker</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
{{#if splashPage}}
  <link rel="stylesheet" href="css/style.css"/>
   <link rel="stylesheet" href="css/table.css"/>
{{/if}}
{{#if searchResults}}
 <link rel="stylesheet" href="css/table.css"/>
{{/if}}
    <link rel="stylesheet" href="css/stars.css"/>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!-- date picker --}}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    html {
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  </style>

</head>

<body class="leading-normal tracking-normal text-indigo-400 bg-cover bg-fixed"
  style="background-image: url('./header.png');"></body>
<!-- This example requires Tailwind CSS v2.0+ -->

<nav class="bg-00 opacity-60">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 opacity-90">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Covid Venue Tracker</span>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <div class="flex-shrink-0 flex items-center">
          <h1>
            <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
              href="/">
              Covid Venue <span
                class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">&nbsp;Tracker</span>
            </a>
          </h1>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            {{#if id}}
            <a href="/dashboard"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              aria-current="page">Dashboard</a>

            {{!-- <a href="/search"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Search
            </a>
            <a href="/login"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign
              In
            </a> --}}
            <a href="/post"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Add
              Business
            </a>
            <button id="logout"
              class="border-none text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout
            </button>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
<main class="flex justify-center items-center h-screen">
  {{{ body }}}
</main>
</body>

{{#if id}}

<script src="/js/logout.js"></script>

{{/if}}

</html>