@media 
only screen and (max-width: 760px), (min-device-width:768px) and (max-device-width: 1024px) {
    table thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px
    }

  tr {
    border: 1px solid #ccc;
  }

  td {
    text-align: center;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
      font-size: small;
    color:black;
    font-weight: 500;
    text-align: left;
      position: absolute;
      top:6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "Venue"}
  td:nth-of-type(2):before { content: "Zip Code"}
  td:nth-of-type(3):before { content: "Date Visited"}
  td:nth-of-type(4):before { content: "Mask Usage"}
  td:nth-of-type(5):before { content: "Social Distancing"}
  td:nth-of-type(6):before { content: "Was Sanitizer Available"}
  td:nth-of-type(7):before { content: "Were Vaccine Cards Required"}
  td:nth-of-type(8):before { content: "Comments"}

}
